<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Home', root_path, {:class => "a"} %>
            <nav>
            <ul>
                <li class="link">
                    <a href="#">
                        About
                    </a>
                </li>
                <li class="link">
                    <%= link_to 'Sign up', new_user_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>