<header class="header">
    <div class="container">
        <div class="navbar">
                <%= link_to 'Home', root_path, {:class => "a"} %>
            <nav>
            <ul>
                <li class="link">
                    <a href="#">
                        About
                    </a>
                </li>
                <li class="link">
                    <%= link_to 'Sign up', new_user_path %>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="jumbotron">
            <%= image_tag('office_photo.jpg') %>
    </div>
    <div class="bodycontainer">
    <div class= "welcomeimage">
    <%= image_tag('beer.png') %>
    </div>
    <div>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac viverra lectus. Nam non interdum tortor, efficitur mattis mauris. Cras rhoncus arcu tristique dolor vestibulum congue. Duis nisl felis, vehicula consequat arcu eu, venenatis euismod augue. Sed non lacinia augue, ut feugiat elit. Suspendisse potenti. Ut a tempus odio. Praesent nec magna in est efficitur pulvinar ut et purus. Pellentesque viverra lorem ut est pellentesque, id hendrerit metus porttitor. Nunc varius elementum ante non mollis. Donec semper lobortis libero, sollicitudin luctus nisl eleifend in. Aenean scelerisque dictum libero, vitae venenatis sapien euismod sit amet. Quisque hendrerit suscipit purus, aliquam pulvinar lacus egestas vel. Quisque volutpat, est tristique efficitur convallis, erat nunc maximus lectus, ut dapibus libero magna nec nisi. Praesent turpis risus, pulvinar vitae elementum nec, sodales posuere justo. Nullam vitae turpis arcu.

    Integer id lacus vitae lectus consectetur scelerisque. Donec et arcu quis lacus ultricies mattis id in enim. Aliquam sed sollicitudin urna, ac luctus nisi. Donec ullamcorper metus volutpat, molestie mauris eget, venenatis enim. Suspendisse nec magna nulla. In dui magna, commodo at enim non, ullamcorper gravida arcu. Curabitur cursus ut quam sit amet ullamcorper. Pellentesque in ante tempor, vehicula purus ac, consequat velit. Vivamus pharetra bibendum ornare. Sed libero odio, accumsan at ante at, mollis tincidunt lacus. Duis facilisis, leo a feugiat suscipit, purus augue semper mi, vitae accumsan sem nulla id magna. Donec interdum pulvinar metus sed molestie. Phasellus tincidunt massa ac faucibus posuere. Aenean mauris ligula, molestie nec porttitor ac, elementum sit amet orci. Praesent porta ante id velit rhoncus, condimentum elementum lacus fringilla.</p>
    </div>

</body>