/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 /*            */
 /* The Navbar */
 /*            */


 .header{
    background-color: white;
 }

 .navbar{
     display: flex;
     justify-content: space-between;
     justify-items: center;
 }

 .container{
     margin: 0 auto;
     max-width: 90%;
 }
 
 .navul{
     display: flex;
 }

 .link{
     padding: 18px 20px;
     list-style: none;
     color: #7D8F8C;
 }

 .a{
     color:  #7D8F8C;
     padding: 18px 0;
 }

 a:visited{
     color:  #7D8F8C;
 }


 /*            */
 /* The Header */
 /*            */

 img{
    max-width: 100%;
    height: auto;
 }
 
 /*            */
 /* The Body   */
 /*            */

 .bodycontainer {
    max-width: 70%;
    display: flex; 
    justify-content: space-around; 
    justify-items: center; 
    margin: 5em auto;
  }

  p {
      font-size: 18px;
      color: #253D47;
      font-weight: 600;
      line-height: 20px;
  }

  .bodylorem{
      max-width: 50%;
  }
  
  .welcomeimage{
      max-width: 40%;
  }

  .welcomeheader{
      text-align: center;
      color: #253D47;
      font-size: 36px;
      font-weight: bold;
  }

  .welcomeheadertwo{
    text-align: center;
    color: #B0C9B1;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .buttoncontainer{
    max-width: 70%;
    display: flex; 
    justify-content: space-around; 
    justify-items: center; 
    margin: 5em auto;
  
  }

    .button {
        background-color:#7D8F8C ;
        border: none;
        color: white;
        padding: 20px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }

      .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
  

      .formname{
          height:90px;
      }

 

 /*            */
 /*  Services  */
 /*            */

 .servicesbackground{
     background-color: #E9E9E9;
     padding: 5em 0;
 }

 .servicescontainer {
    max-width: 70%;
    display: flex; 
    justify-content: space-around; 
    justify-items: center; 
    margin: 5em auto;
  }

 .service{
      max-width: 15%;
  }

 .serviceheader{
      text-align: center;
      color: #253D47;
      font-size: 36px;
      font-weight: bold;
    }

  .servicehead{
    color: #B0C9B1;
    font-size: 21px;
    font-weight: bold;
    margin: 1em 0 1em;
  }

  .servicedescription{
     font-size: 18px; 
     font-weight: 500;
  }


   /*            */
 /*  Service Page  */
 /*            */

 .servicepage{
    max-width: 60%;
    text-align: center;
    margin: 5em auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .box1 {
      background-color: #B0C9B1;
      padding: 20%;
  }

  .box2 {
    background-color: #E9E9E9;
    padding: 20%;
}

.box3 {
    background-color: #FBFDFD;
    padding: 20%;
}

.box4 {
    background-color: #B0C9B1;
    padding: 20%;
}

.box5 {
    background-color: #E9E9E9;
    padding: 20%;
}

.box6 {
    background-color: #FBFDFD;
    padding: 20%;
}

.servicepage_header {
    font-size: 36px;
    text-align: center;
    padding: 1em;
}

.servicepage_description {
    font-size: 14px;
}

.serviceslogodesignimg {
    margin-left: auto;
    margin-right: auto;
}




 /*            */
 /*  Fonts     */
 /*            */

 /* font-family: 'Lato', sans-serif; */
 /* font-family: 'Oswald', sans-serif; */
